/* HERO */
.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: url("/location_cut.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* OVERLAY ESCURA */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
}

/* LOGO CENTRALIZADA NO TOPO */
.logoContainer {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.logo {
  width: 160px;
  height: auto;
  filter: drop-shadow(0 0 8px rgba(0,0,0,0.65));
}

/* CONTEÚDO CENTRAL */
.content {
  position: relative;
  color: white;
  text-align: center;
  z-index: 5;
  max-width: 80%;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 2.5rem;
  margin-bottom: 25px;
}
.subtitle_location {
  font-size: 1.7rem;
  margin-bottom: 35px;
}

.button {
  background: #e63946;
  color: white;
  padding: 14px 30px;
  border-radius: 8px;
  font-size: 1.8rem;
  text-decoration: none;
  transition: 0.3s;
}

.button:hover {
  background: #b71c1c;
}
